<form method="post" action="{{ path('app_type_delete', {'id': type.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn btn-outline-dark rounded-3 me-2"><i class="bi bi-trash"></i></button>
</form>
