{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="justify-content-center d-flex flex-nowrap gap-3">
        <button class="btn btn-outline-light">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
