{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1 class="text-light">Modier le type</h1>

    <div class="card mx-auto p-3" style="max-width: 100%;">
        {{ include('type/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

            <a class="btn btn-outline-dark rounded-3" href="{{ path('app_type_index') }}">Retour à la liste</a>

            {{ include('type/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
