{% extends 'base.html.twig' %}

{% block title %}Nouveau type{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter un type de bijou</h1>

    {{ include('type/_form.html.twig') }}

        <a class="btn btn-outline-light" href="{{ path('app_type_index') }}">Retour à la liste</a>
    </div>
    
{% endblock %}
