{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Create new Type</h1>

    {{ include('type/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_type_index') }}">back to list</a>
{% endblock %}
