{% extends 'base.html.twig' %}
    {% block title %}mli-creations{% endblock %}

{% block body %}
        <h1 class="text-center my-3 text-light">mli-creations</h1>
        
        <div class="text-center">
            <img class="rounded-5" style="width: 100%;" src="{{asset('/img/Collier1.jpg')}}" alt="Un collier mli-creations">
        </div>
{% endblock %}
