<form method="post" action="{{ path('app_material_delete', {'id': material.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button class="btn btn-outline-dark"><i class="bi bi-trash"></i></button>
</form>
