{% extends 'base.html.twig' %}

{% block title %}Matériau{% endblock %}

{% block body %}
    <h1 class="text-light">Modifier le matériau</h1>

    <div class="card mx-auto p-3" style="max-width: 100%;">
        {{ include('material/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

            <a class="btn btn-outline-dark" href="{{ path('app_material_index') }}">Retour à la liste</a>

            {{ include('material/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
