{% extends 'base.html.twig' %}

{% block title %}New Material{% endblock %}

{% block body %}
    <h1>Create new Material</h1>

    {{ include('material/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_material_index') }}">back to list</a>
{% endblock %}
