{% extends 'base.html.twig' %}

{% block title %}Nouveau matériau{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter un nouveau matériau</h1>

    {{ include('material/_form.html.twig') }}

        <a class="btn btn-outline-light" href="{{ path('app_material_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
