{% extends 'base.html.twig' %}

{% block title %}Nouveau matériau{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter un nouveau matériau</h1>

    <div class="card mx-auto p-3" style="max-width: 100%;">
        {{ include('material/_form.html.twig') }}

            <a class="btn btn-outline-dark rounded-3" href="{{ path('app_material_index') }}">Retour à la liste</a>
        </div>
    </div>

{% endblock %}
