{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

        <a class="btn btn-outline-light" href="{{ path('app_product_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
