{% extends 'base.html.twig' %}

{% block title %}Couleur principale{% endblock %}

{% block body %}
    <h1 class="text-light">Modifier la couleur</h1>

    {{ include('mainColor/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

        <a class="btn btn-outline-light" href="{{ path('app_mainColor_index') }}">Retour à la liste</a>

        {{ include('mainColor/_delete_form.html.twig') }}
    </div>
{% endblock %}
