{% extends 'base.html.twig' %}

{% block title %}Nouvelle couleur{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter une nouvelle couleur</h1>

    {{ include('mainColor/_form.html.twig') }}

        <a class="btn btn-outline-light" href="{{ path('app_mainColor_index') }}">Retour à la liste</a>
    </div>
       
{% endblock %}
