{% extends 'base.html.twig' %}

{% block title %}Nouvelle couleur{% endblock %}

{% block body %}
    <h1 class="text-light">Ajouter une nouvelle couleur</h1>

    <div class="card mx-auto p-3" style="max-width: 100%;">
        {{ include('mainColor/_form.html.twig') }}

            <a class="btn btn-outline-dark" href="{{ path('app_mainColor_index') }}">Retour à la liste</a>
        </div>
    </div>
       
{% endblock %}
