{% extends "base.html.twig" %}

{% block body %}

    <div class="card text-bg-dark my-3 text-center">
        <img src="{{asset('uploads/diamonds.webp')}}" class="card-img" alt="images de diamants bleus">
        <div class="card-img-overlay">
            <h3 class="card-title">Accès non autorisé</h5>
            <p>{{status_code}} - {{status_text}}</p>
        </div>
    </div>

{% endblock %}
